{% extends 'blog/base.html'%}
{% block content%}

    <table class="table table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">
                    No.
                </th>
                <th scope="col">
                    Author
                </th>
                <th scope="col">
                    Titulo
                </th>
                <th scope="col">
                    Descripcion
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in post %}
            <tr class="text-center">

                <th scope="row">
                    {{post.id}}
                </th>

                <td>
                    {{post.author}}
                </td>

                <td>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="text-info">
                        {{post.title}}
                    </a>
                </td>

                <td>
                    {{post.text}}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}